<div class="banner-theathre">
  <div class="genre-info">
    <h1 class="text-white mb-0">Movies</h1>
    <p class="text-white mb-0">Tickets to your favotie movies</p>
  </div>
  <div class="overlay"></div>
</div>
<main>
  <div class="container" style="margin: 0 auto">
    <div class="row">
      <div class="col-12">
        <span>Sort by :</span>
        <button class="sort-btn" (click)="newest(movies)">Newest</button
        ><button class="sort-btn" (click)="oldest(movies)">Oldest</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <h1 class="title-upcoming">Upcoming Movies Show</h1>
        <a class="event-link" *ngFor="let movie of movies">
          <div class="row py-3 border-bottom movie-row">
            <div class="col-2">
              <div class="row">
                <div
                  class="col-lg-6 justify-content-center event-day no-padding d-flex align-items-center"
                >
                  <h4 class="mb-0">{{ movie.day }}</h4>
                </div>
                <div class="col-lg-6 ms-1 no-padding">
                  <div class="date">
                    <p class="mb-0 text-center">{{ movie.date }}</p>
                    <p class="mb-0 text-center">{{ movie.time }}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-8 d-flex flex-column justify-content-center">
              <div class="border-start event-info">
                <h4 class="mb-0">{{ movie.performer }}</h4>
                <p class="mb-0">{{ movie.venue }}</p>
              </div>
            </div>
            <div
              class="col-2 ticket d-flex align-items-center justify-content-center"
            >
              <button class="get-tikets" (click)="buyTicket(movie)">
                Get Tickets
              </button>
              <button (click)="buyTicket(movie)" class="to-check-out">
                <i class="fas fa-chevron-right"></i>
              </button>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <div class="ms-4 guarante-card">
          <header
            class="header-guarantee d-flex align-items-center justify-content-between pb-3"
          >
            <div class="header-h3">
              <h4 class="mb-0">Shop Tickets Worry Free</h4>
              <h4 class="mb-0">With Our 100% Guarantee</h4>
            </div>
            <div class="img-shield">
              <img class="w-100 h-100"
                src="https://dtr2k13nvgx2o.cloudfront.net/assets/images/global/guarantee/tn-guarantee-icon-blue-2x.png"
                alt=""
              />
            </div>
          </header>
          <div class="worry-free-info-container pt-3">
            <div class="worry-free-info">
              <p>
                <i class="fas fa-check text-success"></i> Same tickets as you
                ordered, or better.
              </p>
              <p>
                <i class="fas fa-check text-success"></i> Tickets will arrive
                before the event
              </p>
              <p>
                <i class="fas fa-check text-success"></i> Tickets will be valid
                for entry
              </p>
              <p>
                <i class="fas fa-check text-success"></i> Refunds for canceled
                events
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<app-added-to-cart *ngIf="showAddedToCart"></app-added-to-cart>
<app-login-alert (click)="removeModal()" *ngIf="!showModal"></app-login-alert>
