<div class="banner-music w-100 d-flex align-items-end">
  <div class="genre-info">
    <h1 class="text-white mb-0">Music</h1>
    <p class="text-white mb-0">Tickets to your favotie music events</p>
  </div>
  <div class="overlay"></div>
</div>
<main>
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <router-outlet></router-outlet>
      </div>
      <div class="col-lg-4">
        <div class="ms-4 guarante-card">
          <header
            class="header-guarantee d-flex align-items-center justify-content-between pb-3"
          >
            <div class="header-h3">
              <h4 class="mb-0">Shop Tickets Worry Free</h4>
              <h4 class="mb-0">With Our 100% Guarantee</h4>
            </div>
            <div class="img-shield">
              <img
                class="w-100 h-100"
                src="https://dtr2k13nvgx2o.cloudfront.net/assets/images/global/guarantee/tn-guarantee-icon-blue-2x.png"
                alt=""
              />
            </div>
          </header>
          <div class="worry-free-info-container pt-3">
            <div class="worry-free-info">
              <p>
                <i class="fas fa-check text-success"></i> Same tickets as you
                ordered, or better.
              </p>
              <p>
                <i class="fas fa-check text-success"></i> Tickets will arrive
                before the event
              </p>
              <p>
                <i class="fas fa-check text-success"></i> Tickets will be valid
                for entry
              </p>
              <p>
                <i class="fas fa-check text-success"></i> Refunds for canceled
                events
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
